In [53]:
#read inventory.txt sep by /t 
import pandas as pd
import json

inventory = pd.read_csv('inventory.txt', sep='\t')
inventory['QTY_ON_HND'] = inventory['QTY_ON_HND'].fillna(0)
with open('products.json', 'r') as file:
    data = json.load(file)

for type in data['types']:
    for subtype in type['subtypes']:
        for products in subtype['products']:
            for product in products['products']:
                for size in product['sizes']:
                    try:
                        size['inventory'] = int(inventory[inventory['BARCODE'] == size['id']]['QTY_ON_HND'].values[0])
                    except:
                        size['inventory'] = 0

                    try: 
                        size['price'] = float(inventory[inventory['BARCODE'] == size['id']]['PRICE_C'].values[0])
                    except: 
                        size['price'] = 100000 


with open('data_final.json', 'w') as file:
    json.dump(data, file, indent=4)

In [44]:
inventory['QTY_ON_HND'] = inventory['QTY_ON_HND'].fillna(0)

In [45]:
inventory

,BARCODE,BRAND,DESCRIP,TYPE,SIZE,PRICE_C,QTY_ON_HND,Unnamed: 7
0,9048,KRUG,GRAND CUVEE,WINE-CHAMPAGNE,750ML,204.69,0.0,NaN
1,3258060121013,KRUG,GRAND CUVEE,WINE-CHAMPAGNE,750ML,204.69,0.0,NaN
2,08175319086,KRUG,GRAND CUVEE,WINE-CHAMPAGNE,750ML,204.69,0.0,NaN
3,32580612101,KRUG,GRAND CUVEE,WINE-CHAMPAGNE,750ML,204.69,0.0,NaN
4,08175380236,KRUG,GRAND CUVEE,WINE-CHAMPAGNE,750ML,204.69,0.0,NaN
...,...,...,...,...,...,...,...,...
8287,S3323,ROBERT MONDAVI PS,CABERNET SAUVIGNON,WINE-CAL CABERNET SAVIGNON,750ML,11.49,3.0,NaN
8288,S3227,ROBERT MONDAVI PS,CABERNET SAUVIGNON,WINE-CAL CABERNET SAVIGNON,750ML,11.49,3.0,NaN
8289,AS08600306191,ROBERT MONDAVI PS,CABERNET SAUVIGNON,WINE-CAL CABERNET SAVIGNON,750ML,11.49,3.0,NaN
8290,72881719912,GEKKEIKAN,SAKE WHITE,SAKE,750ML,11.49,0.0,NaN
8291,S89743,GEKKEIKAN,SAKE WHITE,SAKE,750ML,11.49,0.0,NaN